html {
    scroll-behavior: smooth;
}

.detail-purple,
.detail-blue {
    position: relative
}

.detail-purple::before,
.detail-blue::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 25px;
    top: 20px;
    left: -50px;
    background: linear-gradient(130deg, #7305FF 0%, #BE05FF 100%), linear-gradient(130deg, #7305FF 0%, #BE05FF 100%);

}

.detail-blue::before {
    background: linear-gradient(180deg, #05CDFF 0%, #05FFD2 100%);
}

.origamid {
    background: linear-gradient(126deg, #DB00FF 28.96%, #7000FF 75.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.estacio-title {
    background: linear-gradient(180deg, #05FFC3 17.19%, #05FFD2 79.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.origamid-title {
    background: linear-gradient(180deg, #D477FF 17.19%, #9E00FF 79.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0px 4px 16.4px rgba(255, 5, 245, 0.16);
    font-weight: 900;
    letter-spacing: -0.4px;
}