@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('style.css');

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Vancouver';
    src: url('fonts/Vancouver-Gothic.otf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}